<div id="bg">
  <span class="title">Ewicom Tank Chess</span>

  <div>
    <button md-raised-button class="social-media-btn facebook-btn">
      <i class="fa fa-facebook"></i>
      <span>Sign In with Facebook</span>
    </button>
    <button md-raised-button class="social-media-btn google-btn">
      <i class="fa fa-google"></i>
      <span>Sign In with Google</span>
    </button>
    <button md-raised-button class="social-media-btn twitter-btn">
      <i class="fa fa-twitter"></i>
      <span>Sign In with Twitter</span>
    </button>
  </div>
</div>
