<div id="bg">
  <span class="title">Ewicom Tank Chess</span>
  <span class="title">{{(user | async)?.email}}</span>

  <div>
    <button md-raised-button class="social-media-btn facebook-btn">
      <i class="fa fa-facebook"></i>
      <span>Sign In with Facebook</span>
    </button>
    <button md-raised-button class="social-media-btn google-btn">
      <i class="fa fa-google"></i>
      <span>Sign In with Google</span>
    </button>
    <button md-raised-button class="social-media-btn twitter-btn">
      <i class="fa fa-twitter"></i>
      <span>Sign In with Twitter</span>
    </button>
    <button md-raised-button class="social-media-btn player-btn" (click)="loginAsPlayer1()">
      <i class="fa fa-user-circle"></i>
      <span>Sign In as Player1</span>
    </button>
    <button md-raised-button class="social-media-btn player-btn" (click)="loginAsPlayer2()">
      <i class="fa fa-user-circle"></i>
      <span>Sign In as Player2</span>
    </button>
  </div>
</div>
