<md-toolbar color="primary">
  <span>Ewicom Tank Chess</span>
  <span class="toolbar-spacer"></span>
  <button *ngIf="!(user | async)" md-button (click)="loginAsPlayer1()">Login as Player1</button>
  <button *ngIf="!(user | async)" md-button (click)="loginAsPlayer2()">Login as Player2</button>
  <button *ngIf="(user | async)" md-button (click)="logout()">Logout</button>
  <span>{{ (user | async)?.email }}</span>
</md-toolbar>

<etc-active-player></etc-active-player>
<div id="content-panel">
  <etc-game-board></etc-game-board>
  <etc-piece-info></etc-piece-info>
</div>
