<md-card *ngIf="piece">
  <md-card-title>{{piece.name}}</md-card-title>
  <md-card-subtitle>{{piece.type}}</md-card-subtitle>

  <md-card-content>
    <md-list id="specification">
      <md-list-item>Range: {{piece.rangeOfMovement}}</md-list-item>
      <md-list-item>Range of fire: {{piece.getRangeOfFire()}}</md-list-item>
    </md-list>

    <button id="forward-button" md-raised-button (click)="forward()" color="primary">FORWARD</button>
    <div class="rotation-actions">
      <button id="up-button" md-raised-button (click)="up()" color="primary" [disabled]="hasUpDirection()">UP</button>
      <div>
        <button id="left-button" md-raised-button (click)="left()" color="primary" [disabled]="hasLeftDirection()">
          LEFT
        </button>
        <button id="fire-button" md-fab (click)="fire()" color="warn">FIRE</button>
        <button id="right-button" md-raised-button (click)="right()" color="primary" [disabled]="hasRightDirection()">
          RIGHT
        </button>
      </div>
      <button id="down-button" md-raised-button (click)="down()" color="primary" [disabled]="hasDownDirection()">DOWN
      </button>
    </div>
  </md-card-content>
</md-card>

<md-card *ngIf="!piece">
  <md-card-title>Piece not selected</md-card-title>
</md-card>
