:host {
  display: flex;
}

md-card {
  flex: 1;
}

md-card-content {
  display: flex;
  flex-direction: column;

  & > button {
    flex: 1;
  }

  & > .rotation-actions {
    flex: 1;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
}
